.gsjj{
	
	padding: 70px 0 60px 0;

	img{
	margin-top: 170px;
}
	h1{
	margin-bottom: 35px;
}
	.title{
	font-size: 21px;
	line-height: 29px;
}
	.article{
	font-size: 14px;
	line-height: 30px;
	color: #2a2a2a;
}

}

.rczp{
	padding: 95px 0 75px 0;
	background-color: #8cc11f;

	h1{
	color: #fff;
	margin-bottom: 50px;
}
	p{
	font-size: 16px;
	line-height: 30px;
	color: #fff;
}
.e-mail{
	width: 220px;
	height: 45px;
	background-color: #fff;
	border-radius: 4px;
}
.e-mail a{
	display: block;
	font-size: 24px;
	line-height: 45px;
	color: #8cc11f;
	text-decoration: none;
}
}

.about{
	margin: 60px 0 0 0;

	h2{
	font-size: 25.9px;
	line-height: 30px;
	color: #8cc11f;
	margin-bottom: 35px;
}
	p{
	text-indent: 2em;
}
.border{
	border-bottom: 1px solid #d2d2d2;
}
.about p:last-child{
	margin-bottom: 60px;
}
}

.contact{
	background-color: #f4f4f4;
	padding: 50px 0;

	li{
	padding: 15px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	margin-top: 20px;
	border-radius: 5px;
}
	 li img{
	margin-right: 10px;
}
	p{
	height: 70px;
	line-height: 70px;
	overflow: hidden
}
}